__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
insurance_agent_env/
insuarance_agent__env/


# Data
*.pdf
*.txt
insurance_agent/data/
insurance_agent/chroma_db/

